@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;500;600;700;800&family=Sue+Ellen+Francisco&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --white: #fff;
    --orange: #FF6D6D;
    --cyan: #77D7D3;
    --mid-cyan: #4BC9C4;
    --black: #2E4049;
    --black-secondary: #727272;
    --black-footer: #384C56;
    --grey-100: #F1EEEC;
    --grey-200: #ECF1F0;
    --grey-300: #F2F2F2;
    --thick-grey: #727272;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-size: 1.25rem;
    font-family: 'Work Sans', serif;
    background-color: var(--white);
}

li,
a {
    text-decoration: none;
    list-style: none;
    color: none;
}

/* Utilities */
.container {
    width: 90%;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #2E4049;
    font-family: Shippori Mincho;
    font-size: 2rem;
    font-style: normal;
    font-weight: 800;
}

.logo-span {
    color: var(--orange);
}

/* Banner */
.banner {
    background-color: var(--cyan);
    height: 4.5rem;
    display: flex;
    align-items: center;
}

.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-main {
    display: flex;
    gap: 2.8125rem;
}

.banner-content {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
}

.banner-content p {
    font-size: 1.125rem;
    font-weight: 400;
    color: var(--black);
}

.banner-socials {
    background-color: var(--mid-cyan);
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    gap: 10px;
    height: 100%;
}

.banner-socials div {
    display: flex;
    cursor: pointer;
    align-items: center;
}

/* Navigation */
nav {
    display: flex;
    /* align-items: center; */
    background-color: var(--white);
    padding: 1rem 0rem;
}

.navigation {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.nav-list {
    display: flex;
    gap: 1.2rem;
    align-items: center;
}

.nav-list li a {
    color: var(--black);
    font-family: Work Sans;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
}

.nav-list li a:hover {
    color: var(--orange);
}

/* header */
.header {
    background-image: url('../img/Background\ Image.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
}

.header-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.header-preview p {
    color: var(--white);
    font-family: Sue Ellen Francisco;
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 400;
}

.header-title h1 {
    color: var(--white);
    font-family: Shippori Mincho;
    font-size: 5.625rem;
    font-style: normal;
    font-weight: 800;
}

.header-btn {
    display: flex;
    gap: 1rem;
}

/* About section */
.about {
    padding: 5rem 0rem;
    display: flex;
    align-items: center;
    background-color: var(--white);
}

.about-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.about-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 65%;
}

.about-preview p {
    color: var(--orange);
    font-family: Sue Ellen Francisco;
    font-size: 2.1875rem;
    font-style: normal;
    font-weight: 400;
}

.about-title h1 {
    color: var(--black);
    font-family: Shippori Mincho;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
}

.about-paragraph {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

.about-paragraph p {
    color: var(--black-secondary);
    font-family: Work Sans;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.about-donation-goal {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.about-donation-goal-title h1 {
    color: var(--black-secondary);
    font-family: Shippori Mincho;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 800;
}

.about-donation-goal-paragraph {
    display: flex;
    justify-content: space-between;
    color: #4BC9C4;
    width: 100%;
}

.about-donation-goal-paragraph p {
    color: var(--black-secondary);
    font-family: Shippori Mincho;
    font-size: 1rem;
    font-style: normal;
    font-weight: 800;
}

.about-donation {
    display: flex;
    flex-direction: column;
    background-color: var(--grey-200);
    border-radius: 10px;
    width: 35%;
    padding: 2.5rem;
}

.about-donation-cont {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.about-donation-list-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.about-donation-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about-donation-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.about-donation-item div p {
    color: var(--black-secondary);
    font-family: Work Sans;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 500;
    word-wrap: none;
}

/* Volunteer */
.volunteer {
    padding: 5rem 0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(rgba(46, 64, 73, 0.91), rgba(46, 64, 73, 0.91)),
        url('../img/volunteer-bg.png') center/cover;
    backdrop-filter: blur(20.5px);
}

.volunteer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.volunteer-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 49.5%;
}

.volunteer-preview p {
    color: var(--white);
    font-family: Sue Ellen Francisco;
    font-size: 2.1875rem;
    font-style: normal;
    font-weight: 400;
}

.volunteer-title h1 {
    color: var(--white);
    font-family: Shippori Mincho;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: 120%;
}

.volunteer-paragraph-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.volunteer-paragraph-content-paragraph p {
    color: var(--white);
    font-family: Work Sans;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.volunteer-paragraph-content-img img {
    border-radius: 10px;
}

.volunteer-form {
    border: 1px solid #FFF;
    border-radius: 10px;
    padding: 2.5rem;
    width: 40%;
    display: flex;
    flex-direction: column;
}

.volunteer-form-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

}

.volunteer-form-title h1 {
    color: var(--white);
    font-family: Shippori Mincho;
    font-size: 2.1875rem;
    font-style: normal;
    font-weight: 800;
    line-height: 120%;
}

.volunteer-form-input input {
    width: 100%;
    color: var(--white);
    border: 1px solid var(--white);
    background: transparent;
    padding: 10px;
    border-radius: 5px;
}

.volunteer-form-input input::placeholder {
    color: var(--white);
    font-family: Work Sans;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

/* What we do */
.who {
    padding: 5rem 0rem;
    display: flex;
    align-items: center;
    background-color: var(--white);
}

.who-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem;
    align-items: center;
    text-align: center;
}

.who-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.who-preview p {
    color: var(--orange);
    font-family: Sue Ellen Francisco;
    font-size: 2.1875rem;
    font-style: normal;
    font-weight: 400;
}

.who-title h1 {
    color: var(--black);
    font-family: Shippori Mincho;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
}

.who-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 3.25rem;
    flex-wrap: wrap;
    width: 80%;
}

.who-content-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
    width: 25%;
}

.who-content-cont-img img {
    width: 4rem;
}

.who-content-cont-title h1 {
    color: var(--black);
    text-align: center;
    font-family: Shippori Mincho;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 800;
}

.who-content-cont-paragraph p {
    color: var(--black-secondary);
    text-align: center;
    font-family: Work Sans;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    width: 21.75rem;
}

/* Featured */
.featured {
    display: flex;
    height: 100vh;
    display: flex;
    align-items: center;
}

.featured-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.featured-content {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.featured-paragraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background-color: var(--black);
    height: 50%;
    width: 100%;
    padding: 4rem;
}

.featured-title {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.featured-title h1 {
    color: var(--white);
    font-family: Shippori Mincho;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: 120%;
}

.featured-title p {
    color: var(--white);
    font-family: Work Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.featured-preview p {
    color: var(--orange);
    font-family: Sue Ellen Francisco;
    font-size: 2.1875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 108.3%;
}

.featured-img {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.featured-gallery {
    display: flex;
    justify-content: stretch;
    height: 50%;
    width: 100%;
}

.featured-gallery img {
    width: 100%;
    height: 100%;
}

/* Newsletter */
.newsletter {
    height: 50vh;
    display: flex;
    align-items: center;
}

.newsletter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.newsletter-div {
    background-color: var(--orange);
    height: 100%;
    width: 50%;
    padding: 4rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.newsletter-preview p {
    color: var(--white);
    font-family: Sue Ellen Francisco;
    font-size: 2.1875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 108.3%;
}

.newsletter-title {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 20px;
}

.newsletter-title h1 {
    color: var(--white);
    font-family: Shippori Mincho;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
}

.newsletter-title p {
    color: var(--white);
    font-family: Work Sans;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
}

.newsletter-form {
    display: flex;
    gap: 10px;
}

.newsletter-form input {
    border-radius: 100px;
    padding: 10px 30px;
    border: none;
}

.newsletter-form input::placeholder {
    color: var(--black-secondary);
    font-family: Work Sans;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
}

.blog-div {
    background-color: blue;
    height: 100%;
    width: 50%;
    padding: 4rem;
    background: linear-gradient(rgba(119, 215, 211, 0.93), rgba(119, 215, 211, 0.93)),
        url('../img/volunteer-bg.png') center/cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.blog-div-preview p {
    color: var(--black);
    font-family: Sue Ellen Francisco;
    font-size: 2.1875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 108.3%;
}

.blog-div-title h1 {
    color: var(--black);
    font-family: Shippori Mincho;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: 120%;
    padding-bottom: 20px;
}

/* footer */
.footer {
    background-color: var(--black);
    padding: 2.5rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
}

.footer-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.footer-logo p {
    color: var(--white);
}

.footer-paragraph p {
    text-align: center;
}

.footer-link {
    display: flex;
    gap: 1.2rem;
    align-items: center;
    text-align: center;
}

.footer-link li a {
    color: var(--white);
    font-family: Work Sans;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    text-align: center;
}

.footer-link li a:hover {
    color: var(--orange);
}

.footer-socials {
    display: flex;
    gap: 1.2rem;
    align-items: center;
}

.footer-socials div img {
    cursor: pointer;
}





/* Button */
button {
    cursor: pointer;
}

.btn_donate {
    background-color: var(--orange);
    border-radius: 100px;
    border: 2px solid var(--orange);
    padding: 12px 24px;
    color: var(--white);
    font-family: Work Sans;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
}

.btn_donate:hover {
    border: 2px solid var(--orange);
    color: var(--orange);
    background-color: transparent;
}

.btn_discover {
    background-color: var(--white);
    border-radius: 100px;
    border: 2px solid var(--white);
    padding: 12px 24px;
    color: var(--black);
    font-family: Work Sans;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
}

.btn_discover:hover {
    border: 2px solid var(--orange);
    color: var(--orange);
    background-color: transparent;
}

.btn_letter {
    background-color: var(--black);
    border-radius: 100px;
    border: 2px solid var(--black);
    padding: 12px 24px;
    color: var(--white);
    font-family: Work Sans;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
}

.btn_letter:hover {
    border: 2px solid var(--black);
    color: var(--black);
    background-color: transparent;
}